html, body {
	font-family: 'Montserrat';
}

.btn {
	width: 40px;
	height: 40px;
	margin: 0;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	transition: all 0.15s cubic-bezier(0.47, 0, 0.745, 0.715);
	border-collapse: collapse;
	opacity: 1;
}

.active:not(.hidden) {
	background-color: #dddddd;
}

.active {
	cursor: inherit;
	box-shadow: 0 0 0 1px black;
	}

.hidden {
	color: transparent;
	cursor: pointer;
	user-select: none;
}


#crossword-table {
	padding: 0;
	margin: 0;
	gap: 0;
	display: grid;
	grid-template-columns: repeat(30, 40px);
	grid-template-rows: repeat(20, 40px);
	grid-gap: 1px;
	box-sizing: border-box;
}

#questions-container {
	font-family: "Montserrat";
	font-size: 1.25rem;
	margin: 1rem;
	width: 60rem;
}

#questions-container div {
	padding: 0.7rem;
	border-top: 1px solid gray;
}

#main-container {
	display: flex;
	flex-wrap: wrap;
}

#crossword-editor-container {
	display: flex;
	justify-content: center;
}

#crossword-editor-form {
	padding: 0;
	margin: 0;
	gap: 0;
	display: grid;
	grid-template-columns: repeat(30, 40px);
	grid-template-rows: repeat(20, 40px);
	grid-gap: 1px;
	box-sizing: border-box;
}

.cell-input {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 1.5rem;
}

#convert-button {
	margin: 1rem;
	height: 2.5rem;
	width: 10rem;
}

#convert-button-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

#saved-game-data {
	border: 1px solid black;
}

#saved-game-data-container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2rem;
}

#open-settings-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

#open-settings {
	margin: 1rem;
	height: 2.5rem;
	width: 10rem;
}